<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<!--  Controller 등록  -->
	<servlet>
	 <servlet-name>dispatcher</servlet-name>
	 <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	 <init-param>
	  <param-name>contextConfigLocation</param-name>
	  <param-value>/WEB-INF/config/application-*.xml</param-value>
	  	<!-- 파싱 (config폴더에있는 3개 파일 동시에 파싱)
	  			application-context.xml : 우리가 직접 만드는 클래스 
	  			application-datasource.xml : mongodb, oracle.. -->
	 </init-param>
	</servlet>
	<!--  URL 패턴 지정 (*.do) -->
	<servlet-mapping>
	 <servlet-name>dispatcher</servlet-name>
	 <url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<filter> 
		<filter-name>encodingFilter</filter-name> 
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class> 
		<init-param> 
			<!-- request.setCharacterEncoding("UTF-8") -->
			<param-name>encoding</param-name> 
			<param-value>UTF-8</param-value> 
		</init-param> 
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
